<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.fh_kl.bluepong"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >

        <!-- android:theme="@style/AppTheme" > -->
        <activity
            android:name="de.fh_kl.bluepong.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.fh_kl.bluepong.OnePlayerActivity"
            android:label="@string/title_activity_one_player"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="de.fh_kl.bluepong.TwoPlayerActivity"
            android:label="@string/title_activity_two_player"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="de.fh_kl.bluepong.TournamentActivity"
            android:label="@string/title_activity_tournament"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="de.fh_kl.bluepong.GameActivity"
            android:label="@string/title_activity_game"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="de.fh_kl.bluepong.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="de.fh_kl.bluepong.TournamentOverviewActivity"
            android:label="@string/title_activity_tournament_overview" >
        </activity>
    </application>

</manifest>
